*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: #061B28;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-box{
    width: 50%;
    max-width: 1000px;
    /* height: 400px; */
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 10px #59CADB, -2px -2px 10px #59CADB;
    overflow: hidden;
    position: relative;
    /* z-index: 100; */
}
.login-box::after{
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right,#005764, #00A7B7);
    color: #fff;
    padding: 50px;
    transform: skewx(41deg);
    text-align: right;
    position: absolute;
    top: 0;
    right: -220px;
    z-index: 1;
}
.login-left{
    width: 50%;
    background: #061B28;
    padding: 50px;
}
.login-left h2{
    color: #fff;
    margin-bottom: 30px;
    font-size: 1.7rem;
    text-align: center;
}
input{
    width: 100%;
}
input[type=text],input[type=password]{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 10px 0;
}
input[type=text]::placeholder,input[type=password]::placeholder{
    color: #fff;
    font-size: 0.9rem;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}
.fa-user {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 0px;
}
.fa-lock{
    color: #fff;
    position: absolute;
    top: 5px;
    right: 0;
}

input[type=submit]{
    background: linear-gradient(to bottom,#03D4EC, #05374B);
    padding: 10px 0;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}
input[type=submit]:focus{
    border: 1px solid brown;
}
input[type=submit]:focus-visible{
    border: 1px solid thistle;
}
.sign-up p {
    color: #fff;
    font-size: 0.9rem;
    margin-left: 30px;
}
.sign-up a{
    display: inline-block;
    color: #14cde1;
    text-decoration: none;
}
.login-right{
    width: 50%;
    z-index: 10;
    padding: 100px 50px;
    color: #fff;
    text-align: right;
}
.login-right h2{
    font-size: 2.1rem;
    padding: 10px 22px;
}
.login-right p{
    font-size: 1.1rem;
    padding: 0 22px;
}
@media only screen and (max-width: 768px){
.login-box{
    width: 100%;
    flex-direction: column;
}
.login-box::after{
    display: none;
}
.login-left,.login-right{
    width: 100%;
    text-align: center;
    font-size: 1rem;
}
.login-right h2{
    font-size: 1.8rem;
}
.login-right p{
    font-size: 1.0rem;
}
}